@import "style.css";

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

input::placeholder{
  opacity: 0.5;
}

.signupContainer{
  padding: 20px;
  background-color: #9731F6;
  border-radius: 10px;
  max-width: 470px;
  width: 90%;
  margin: 30px 0;
}

.headerForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  padding: 20px 0;
}

.headerForm img{
  height: 5rem;
}

.headerForm h1{
  font-size: 3rem;
}

main label{
  color: white; 
}

.MuiSignup-checkContainer{
  display: flex;
  align-items: center;
  padding: 5px;
}

.MuiSignup-checkContainer input{
  margin: 5px;
}

.MuiSignup-input{
  position: relative;
  padding-bottom: 20px;
}

.MuiSignup-input label{
  margin-left: 5px;
}

.MuiSignup-input input{
  width: 100%;
  height: 40px;
  background-color: white;
  text-align: center;
  display: block;
  outline: none;
  border-radius: 10px;
  border: 2px solid #9731F6;       
}

.MuiSignup-input i{
  position: absolute;
  top: 45px;
  right: 10px;
  visibility: hidden;
}

.MuiSignup-input small{
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 8px;
  visibility: hidden;
}

.MuiSignup-btnContainer button{
  width: 100%;
  height: 40px;
  margin-top: 30px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  background-color: #1A06FA;
  border: none;
  font-size: 15px;
}

/* Error and Sucess */

.MuiSignup-input.success input{
  border-color: #2eCC71;
}

.MuiSignup-input.error input{
  border-color: #e74c3c;
}

.MuiSignup-input.success i.fa-check-circle{
  color: #2eCC71;
  visibility: visible;
}

.MuiSignup-input.error i.fa-exclamation-circle{
  color: #e74c3c;
  visibility: visible;
}

.MuiSignup-input.error small{
  color: #e74c3c;
  visibility: visible;
}
