@import "style.css";

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.addressConfirme-container{
    background-color: #9731F6;
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
    max-width: 600px;
    width: 100%;
    margin-bottom: 20px;
}

.addressConfirme-title{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.address{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.addressConfirme-container span{
    font-family: 'Share';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
}

main a{
    margin: 1rem 0 0 0;
    background: #1A06FA;
    border-radius: 10px;
    border: none;
    padding: 1rem;
    text-align: center;
    width: 20%;
    font-family: 'Share';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}