@import "style.css";

.filter{
  max-width: var(--max-width-pattern);
  margin: var(--centralize-container);
  width: 90%;
  display: none;
}


.list-products{
  max-width: var(--max-width-pattern);
  margin: var(--centralize-container);
  display: flex;
  justify-content: space-between;
  /* padding: 30px 0; */
  width: 90%;
}

.list-checkbox{
  height: 200px;
  width: 250px;
}

.list-typography, .filter-btn{
  font-size: 2.4rem;
  color: var(--white);
  margin-bottom: 30px;
  display: block;
}

.check-container{
color: #fff;
display: flex;
align-items: center;
}

.check-container label{
font-size: 1.6rem;
cursor: pointer;
display: flex;
padding: 6px;
}

.check-container input[type='checkbox']{
cursor: pointer;
opacity: 0;
position: absolute;
display: inline-block;
}

.check-container label::before{
content: '';
width: 1em;
height: 1em;
border: 0.05em solid var(--white);
border-radius: 4px;
margin-right: 5px;
}

.check-container label:hover::before, .check-container input[type='checkbox']:hover + label::before{
background-color: var(--electric-indigo);
}

.filter-category{
max-width: var(--max-width-pattern);
width: 90%;
margin: var(--centralize-container);
background-color: var(--electric-indigo);
display: flex;
display: none;
border-radius: 4px;
}

/* .check-container input[type='checkbox']:focus + label::before{
background-color: var(--electric-indigo);
} */

.check-container input[type='checkbox']:checked + label::before{
background-color: var(--electric-indigo);
content: '\002714';
display: flex;
justify-content: center;
align-items: center;
}

.page{
color: #fff;
text-align: center;
margin-bottom: 30px;
}

.page span{
font-weight: 400;
font-size: 2.6rem;
padding: 0 5px 0 0;
}

.page ul{
display: inline-block;
}

.page ul li{
display: inline-block;
}

.page ul li a{
font-size: 2.4rem;
display: inline-block;
padding: 6px 12px;
border-radius: 50%;
}

.page ul li a:hover{
background-color: var(--electric-indigo);
}


.top{
right: 5%; 
position: fixed;
top: 70%;
display: none;
}

.top img:hover{
background-color: var(--electric-indigo);
border-radius: 50%;
transition: all 1s;
}

.filter-btn, .filter-sub{
background-color: var(--electric-indigo);
padding: 5px 10px;
border-radius: 4px;
}

.list-products{
position: relative;
margin-bottom: 100px;
}

.filter-sub{
position: absolute;
left: 50%;
color: #fff;
border: none;
font-size: 25px;
padding: 10px 20px;
top: 100%;
}

@media only screen and (max-width: 737px){

  .list-checkbox{
    height: auto;
    max-width: 250px;
    width: 90% ;
  }
  .list-products{
    width: 100vw;
    height: 100vh;
      display: none;
      position: fixed;
      z-index: 5;
      top: 0;
      left: 0;
      background-color: #000;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
  }

  .filter{
      display: flex;
      justify-content: flex-end;
  }

  .filter-sub{
position: static;
  }

  
}

.banner img{
  margin: 0 auto;
  width: 80%;
}