@import "style.css";

.signin-signup-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7rem;
}
    
.user-signin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #9731F6;
    border-radius: 10px;
    padding: 5rem;
}

.user-signin-title, .user-signup-title{
    font-family: 'Share';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
}

.signin-form{
  margin: 1.6rem;
  width: 100%;
}

.MuiFormControll-root{
  width: 100%;
}

.signinEmail, .signinPassword{
  font-family: 'Share';
  font-style: normal;
  font-weight: 400;
  text-align: center;
  border-radius: 30px;
  border: none;
  margin: 0.3rem 0;
  height: 2.5rem;
  width: 100%;
}

.signinEmail::placeholder, .signinPassword::placeholder{
  opacity: 0.5;
}

.MuiGrid-item{
  display: flex;
  margin: 0.1rem 0 0.5rem 0;
  padding: 0 10px;
}

.MuiTypography-body{
  font-family: 'Share';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}

.signin-btn{
  margin: 1.2rem 0 0 0;
  background: #1A06FA;
  border-radius: 10px;
  border: none;
  padding: 1rem;
  width: 100%;
  font-family: 'Share';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.user-signup{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9731F6;
  border-radius: 10px;
  padding: 2.5rem;
}

.order-signup-list{
  width: 67%;
  margin: 1.5rem;
}

.list-inline{
  opacity: 0.5;
  color: #fff;
  font-family: 'Share';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}


main{
  max-width: var(--max-width-pattern);
  margin: 85px auto;
  display: flex;
  width: 90%;
  gap: 30px;
  align-items: center;
  justify-content: space-around;
}

@media only screen and (max-width: 1055px){
  main{
    flex-wrap: wrap;
    justify-items: center;
  }
}

.btnSignup-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
}

.signup-btn{
  background: #1A06FA;
  border-radius: 10px;
  border: none;
  padding: 1rem;
  width: 100%;
  font-family: 'Share';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}