<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Look Up</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/js/index.js"></script>
</head>
<body>
    
    <header class="header-container">
        <%- include('./partials/header'); %>
    </header>

    <main>

            <div class="slider">

                <div class="slides">
                    <input type="radio" name="radio-btn" id="radio1">
                    <input type="radio" name="radio-btn" id="radio2">
                    <input type="radio" name="radio-btn" id="radio3">
                    <input type="radio" name="radio-btn" id="radio4">

                    <div class="slide first">
                        <img src="/images/banner/1.jpg" alt="">
                    </div>

                    <div class="slide">
                        <img src="/images/banner/2.jpg" alt="">
                    </div>

                    <div class="slide">
                        <img src="/images/banner/3.jpg" alt="">
                    </div>

                    <div class="slide">
                        <img src="/images/banner/4.jpg" alt="">
                    </div>

                    <div class="navigation-auto">

                        <div class="auto-btn1"></div>
                        <div class="auto-btn2"></div>
                        <div class="auto-btn3"></div>
                        <div class="auto-btn4"></div>

                    </div>
                </div>

                <div class="manual-navigation">
                    
                    <label for="radio1" class="manual-btn"></label>
                    <label for="radio2" class="manual-btn"></label>
                    <label for="radio3" class="manual-btn"></label>
                    <label for="radio4" class="manual-btn"></label>

                </div>

            </div>

                <div class="highlights">

                        <div class="highlights-card">
                            <img src="/images/high/2.jpg" alt="">
                        </div>

                        <div class="highlights-card">
                            <img src="/images/high/2.jpg" alt="">
                        </div>

                        <div class="highlights-card">
                            <img src="/images/high/2.jpg" alt="">
                        </div>

                </div>


                <div class="highlights-slider">

                    <div class="highlights-slides">
                        <input type="radio" name="highlights-btn" id="highlights1">
                        <input type="radio" name="highlights-btn" id="highlights2">
                        <input type="radio" name="highlights-btn" id="highlights3">
            
                        <div class="slides-h first">
                            <img src="/images/banner/1.jpg" alt="">
                        </div>
            
                        <div class="slides-h">
                            <img src="/images/banner/2.jpg" alt="">
                        </div>
            
                        <div class="slides-h">
                            <img src="/images/banner/3.jpg" alt="">
                        </div>
            
            
                        <div class="highlights-auto">
            
                            <div class="highlights-btn1"></div>
                            <div class="highlights-btn2"></div>
                            <div class="highlights-btn3"></div>
            
                        </div>
                    </div>
            
                    <div class="manual-highlights">
                        
                        <label for="highlights1" class="manual-btn"></label>
                        <label for="highlights2" class="manual-btn"></label>
                        <label for="highlights3" class="manual-btn"></label>
            
                    </div>
            
                </div>
            

                 <div class="box-container">

                 <div class="title-container">
                     <img src="/images/icons/warning.svg" alt="">
                     <span>Produtos em Oferta</span>
                 </div>

                 <div class="products-container">

                    <div class="add-product-container">
                        <div class="products-card">
                        <img src="/images/high/2.jpg" alt="">
                        <h2 class="description-card">Nome do produto - mini descrição...</h2>
                        <span class="price-cash">A vista R$ 1.200,00</span>
                        <span class="text1-card">ou</span>
                        <span class="price-card">R$ 1.400,00</span>
                        <span class="text2-card">em até</span>
                        <span class="parcel-price">12x de R$ 142,00</span>
                        </div>
                        <button class="add-product">Adicionar ao Carrinho</button>
                   </div>

                   <div class="add-product-container">
                    <div class="products-card">
                    <img src="/images/high/2.jpg" alt="">
                    <h2 class="description-card">Nome do produto - mini descrição...</h2>
                    <span class="price-cash">A vista R$ 1.200,00</span>
                    <span class="text1-card">ou</span>
                    <span class="price-card">R$ 1.400,00</span>
                    <span class="text2-card">em até</span>
                    <span class="parcel-price">12x de R$ 142,00</span>
                    </div>
                    <button class="add-product">Adicionar ao Carrinho</button>
               </div>

                      <div class="add-product-container">
                        <div class="products-card">
                        <img src="/images/high/2.jpg" alt="">
                        <h2 class="description-card">Nome do produto - mini descrição...</h2>
                        <span class="price-cash">A vista R$ 1.200,00</span>
                        <span class="text1-card">ou</span>
                        <span class="price-card">R$ 1.400,00</span>
                        <span class="text2-card">em até</span>
                        <span class="parcel-price">12x de R$ 142,00</span>
                        </div>
                        <button class="add-product">Adicionar ao Carrinho</button>
                   </div>

                      <div class="add-product-container">
                        <div class="products-card">
                        <img src="/images/high/2.jpg" alt="">
                        <h2 class="description-card">Nome do produto - mini descrição...</h2>
                        <span class="price-cash">A vista R$ 1.200,00</span>
                        <span class="text1-card">ou</span>
                        <span class="price-card">R$ 1.400,00</span>
                        <span class="text2-card">em até</span>
                        <span class="parcel-price">12x de R$ 142,00</span>
                        </div>
                        <button class="add-product">Adicionar ao Carrinho</button>
                   </div>

                 </div>

                 </div>

                 <div class="brands">

                    <div class="brand-card">
                        <img src="/images//banner/intel.jpeg" alt="">
                    </div>

                    <div class="brand-card">
                        <img src="/images/banner/ryzen.jpg" alt="">
                    </div>

                 </div>

                 <div class="box-container">

                    <div class="title-container">
                        <img src="/images/icons/upgrade.svg" alt="">
                        <span>Upgrade</span>
                    </div>
   
                    <div class="products-container">
   
                       <div class="add-product-container">
                        <div class="products-card">
                        <img src="/images/high/2.jpg" alt="">
                        <h2 class="description-card">Nome do produto - mini descrição...</h2>
                        <span class="price-cash">A vista R$ 1.200,00</span>
                        <span class="text1-card">ou</span>
                        <span class="price-card">R$ 1.400,00</span>
                        <span class="text2-card">em até</span>
                        <span class="parcel-price">12x de R$ 142,00</span>
                        </div>
                        <button class="add-product">Adicionar ao Carrinho</button>
                   </div>
   
                       <div class="add-product-container">
                        <div class="products-card">
                        <img src="/images/high/2.jpg" alt="">
                        <h2 class="description-card">Nome do produto - mini descrição...</h2>
                        <span class="price-cash">A vista R$ 1.200,00</span>
                        <span class="text1-card">ou</span>
                        <span class="price-card">R$ 1.400,00</span>
                        <span class="text2-card">em até</span>
                        <span class="parcel-price">12x de R$ 142,00</span>
                        </div>
                        <button class="add-product">Adicionar ao Carrinho</button>
                   </div>
   
                       <div class="add-product-container">
                        <div class="products-card">
                        <img src="/images/high/2.jpg" alt="">
                        <h2 class="description-card">Nome do produto - mini descrição...</h2>
                        <span class="price-cash">A vista R$ 1.200,00</span>
                        <span class="text1-card">ou</span>
                        <span class="price-card">R$ 1.400,00</span>
                        <span class="text2-card">em até</span>
                        <span class="parcel-price">12x de R$ 142,00</span>
                        </div>
                        <button class="add-product">Adicionar ao Carrinho</button>
                   </div>
   
                       <div class="add-product-container">
                        <div class="products-card">
                        <img src="/images/high/2.jpg" alt="">
                        <h2 class="description-card">Nome do produto - mini descrição...</h2>
                        <span class="price-cash">A vista R$ 1.200,00</span>
                        <span class="text1-card">ou</span>
                        <span class="price-card">R$ 1.400,00</span>
                        <span class="text2-card">em até</span>
                        <span class="parcel-price">12x de R$ 142,00</span>
                        </div>
                        <button class="add-product">Adicionar ao Carrinho</button>
                   </div>
   
                    </div>

                 </div>

                <div class="ipu-container">

                    <div class="ipu-card">
                        <h2>Iniciante</h2>
                        <img src="/images/high/2.jpg" alt="">
                    </div>

                    <div class="ipu-card">
                        <h2>Ultra</h2>
                        <img src="/images/high/2.jpg" alt="">
                    </div>

                    <div class="ipu-card">
                        <h2>Ultimate</h2>
                        <img src="/images/high/2.jpg" alt="">
                    </div>

                </div>

                <div class="support-container">

                    <%- include('./partials/support');%>

                </div>
                
    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>

</body>
</html>







<div class="remover-container">

<img src="" alt="">

<div>
    <h2></h2>

    <div class="remover-flex">
        <img src="" alt="">
        <h2></h2>
    </div>
</div>

</div>