<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Look Up</title>
    <link rel="stylesheet" href="./stylesheets/list-products.css">
    <script src="/js/list-products"></script>
</head>

<header class="header-container">
    <% if(typeof user==='undefined' ) {%>
        <%- include('./partials/header', {user: undefined}); %>
          <% } else { %>
            <%- include('./partials/header', {user: user}); %>
              <% } %>
</header>

<main>

    <div class="banner">
        <a href="https://www.amd.com/pt/processors/ryzen" target="_blank" rel="noreferrer noopener">
            <img src="/images/banner/bannerRyzen.jpg" alt="">
        </a>
    </div>

    <div class="box-container">

        <div class="title-container">
            <span>Produtos em Oferta</span>
        </div>

        <div class="products-container">

            <div class="add-product-container">
                <div class="products-card">
                    <img src="/images/high/2.jpg" alt="">
                    <h2 class="description-card">Nome do produto - mini descrição...</h2>
                    <span class="price-cash">A vista R$ 1.200,00</span>
                    <span class="text1-card">ou</span>
                    <span class="price-card">R$ 1.400,00</span>
                    <span class="text2-card">em até</span>
                    <span class="parcel-price">12x de R$ 142,00</span>
                </div>
                <button class="add-product">Adicionar ao Carrinho</button>
            </div>

        </div>

    </div>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>      