<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Look Up</title>
    <link rel="stylesheet" href="/stylesheets/sucess-in-purchase.css" />
</head>

<body>

    <main>
        <div class="sucess">
            <img src="/images/icons/right.svg" alt="" />
            <h1>
                Muito obrigado! A sua compra foi <br />
                bem-sucedida e logo você receberá <br />
                as instruções pelo e-mail. <br>
                <a class="return" href="/">Clique para retornar!</a>
            </h1>
        </div>
    </main>

  <script src="/js/scrollTop.set.js"></script>
</body>

</html>