<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Look Up</title>
    <link rel="stylesheet" href="./stylesheets/list-products.css">
    <script src="/js/list-products"></script>
</head>

<header class="header-container">
    <%- include('./partials/header'); %>
</header>

<main>
   
    <div class="filter">
        <a class="filter-btn" onclick="filterOpen()">Filtrar</a>
    </div>
    
    <form id="filter-form" class="list-products">
    
        <div class="list-checkbox">
            <span class="list-typography">Todas as Categorias</span>
            <div>
                <div class="check-container">
                    <input type="checkbox" id="computer">
                    <label for="computer">Computadores</label>
                </div>
    
                <div class="check-container">
                    <input type="checkbox" id="notebooks">
                    <label for="notebooks">Notebooks</label>
                </div>
    
                <div class="check-container">
                    <input type="checkbox" id="smartphones">
                    <label for="smartphones">Smartphones</label>
                </div>
    
                <div class="check-container">
                    <input type="checkbox" id="tv">
                    <label for="tv">TV's</label>
                </div>
    
                <div class="check-container">
                    <input type="checkbox" id="tablet">
                    <label for="tablet">Tablet</label>
                </div>
            </div>
        </div>
    
        <div class="list-checkbox">
            <span class="list-typography">Tipos de Produto</span>
            <div>
                <div class="check-container">
                    <input type="checkbox" id="accessories">
                    <label for="accessories">Acessórios</label>
                </div>
    
                <div class="check-container">
                    <input type="checkbox" id="cables">
                    <label for="cables">Cabos e carregadores</label>
                </div>
    
                <div class="check-container">
                    <input type="checkbox" id="audio">
                    <label for="audio">Áudio / fones de ouvido</label>
                </div>
    
                <div class="check-container">
                    <input type="checkbox" id="battery">
                    <label for="battery">Baterias</label>
                </div>
            </div>
    
    
        </div>
    
        <div class="list-checkbox">
            <span class="list-typography">Preço</span>
            <div>
                <div class="check-container">
                    <input type="checkbox" id="value1">
                    <label for="value1">Até R$ 100</label>
                </div>
    
                <div class="check-container">
                    <input type="checkbox" id="value2">
                    <label for="value2">R$ 100 até R$ 150</label>
                </div>
    
                <div class="check-container">
                    <input type="checkbox" id="value3">
                    <label for="value3">R$ 150 até R$ 200</label>
                </div>
    
                <div class="check-container">
                    <input type="checkbox" id="value4">
                    <label for="value4">R$ 200 até R$ 300</label>
                </div>
    
                <div class="check-container">
                    <input type="checkbox" id="value5">
                    <label for="value5">R$ 300 até R$ 500</label>
                </div>
    
                <div class="check-container">
                    <input type="checkbox" id="value6">
                    <label for="value6">R$ 500 até R$ 1.000</label>
                </div>
    
                <div class="check-container">
                    <input type="checkbox" id="value7">
                    <label for="value7">R$ 1.000 até R$ 2.000</label>
                </div>
    
                <div class="check-container">
                    <input type="checkbox" id="value8">
                    <label for="value8">Mais de R$ 2.000</label>
                </div>
            </div>
    
        </div>
    
        <button class="filter-sub" type="submit" form="filter-form">Filtrar</button>
    </form>

    <div class="box-container">

        <div class="title-container">
            <span>Produtos em Oferta</span>
        </div>

        <div class="products-container">

            <div class="add-product-container">
                <div class="products-card">
                    <img src="/images/high/2.jpg" alt="">
                    <h2 class="description-card">Nome do produto - mini descrição...</h2>
                    <span class="price-cash">A vista R$ 1.200,00</span>
                    <span class="text1-card">ou</span>
                    <span class="price-card">R$ 1.400,00</span>
                    <span class="text2-card">em até</span>
                    <span class="parcel-price">12x de R$ 142,00</span>
                </div>
                <button class="add-product">Adicionar ao Carrinho</button>
            </div>

        </div>

    </div>

    <div class="page">

        <span>Página:</span>
        <ul>
            </a>
            <li><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
        </ul>   
    </div>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>      