<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Look Up</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
    <header class="header-container">
        <%- include('./partials/header'); %>
    </header>

    <main id="user">

        <div class="container-left">
            <div class="profile-container">
                <div class="profile-image">
                    <img>
                    <h2>Nome de usuario</h2>
                </div>
        
                <div class="credit">
                    <div id="credit-black">
                        <h2>créditos:R$ ??</h2>
                    </div>  
                    <p>Comprar creditos</p>
                </div>
        
                <div class="edit-profile">
                    <p>Editar perfil</p>
                </div>
            </div>
        

            <div id="contact-sac">
                <h4>Atendimento ao cliente</h4>
                <h5>Central SAC: (13) 98806-6744</h5>
                <h5>henriqueaffonsorios@gmail.com</h5>
                <button id="suport-button">Atendimento via chat</button>
            </div>
        </div>

        <div id="info-stories">
            <h1 id="buy-title-story">Histórico De Compras</h1>
            <h5 id="buy-subtitle-story">Aqui você encontra todas as informações do seu pedido</h5>

            <div id="buy-table-story">
            <div class="table-head">Todos os pedidos</div>
            <div class="table-head-2">
                <ul>
                    <li>Número do pedido</li>
                    <li>Data</li>
                    <li>Pagamento</li>
                    <li>Posição</li>
                </ul>
            </div>
            <div class="table-row">
                <ul>
                    <li>4312378074</li>
                    <li>30/03/2022</li>
                    <li>Cartão de Crédito</li>
                    <li>Enviado</li>
                </ul>
            </div>
            <div class="table-row">
                <ul>
                    <li>8496727200</li>
                    <li>14/03/2022</li>
                    <li>Boleto Bancário</li>
                    <li>Enviado</li>
                </ul>
            </div>

            </div>
        </div>

    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>

</body>

</html>