<div class="filter">
    <a class="filter-btn" onclick="filterOpen()">Filtrar</a>
</div>

<form id="filter-form" class="list-products">

    <div class="list-checkbox">
        <span class="list-typography">Todas as Categorias</span>
        <div>
            <div class="check-container">
                <input type="checkbox" id="computer">
                <label for="computer">Computadores</label>
            </div>

            <div class="check-container">
                <input type="checkbox" id="notebooks">
                <label for="notebooks">Notebooks</label>
            </div>

            <div class="check-container">
                <input type="checkbox" id="smartphones">
                <label for="smartphones">Smartphones</label>
            </div>

            <div class="check-container">
                <input type="checkbox" id="tv">
                <label for="tv">TV's</label>
            </div>

            <div class="check-container">
                <input type="checkbox" id="tablet">
                <label for="tablet">Tablet</label>
            </div>
        </div>
    </div>

    <div class="list-checkbox">
        <span class="list-typography">Tipos de Produto</span>
        <div>
            <div class="check-container">
                <input type="checkbox" id="accessories">
                <label for="accessories">Acessórios</label>
            </div>

            <div class="check-container">
                <input type="checkbox" id="cables">
                <label for="cables">Cabos e carregadores</label>
            </div>

            <div class="check-container">
                <input type="checkbox" id="audio">
                <label for="audio">Áudio / fones de ouvido</label>
            </div>

            <div class="check-container">
                <input type="checkbox" id="battery">
                <label for="battery">Baterias</label>
            </div>
        </div>


    </div>

    <div class="list-checkbox">
        <span class="list-typography">Preço</span>
        <div>
            <div class="check-container">
                <input type="checkbox" id="value1" name="value1">
                <label for="value1">Até R$ 100</label>
            </div>

            <div class="check-container">
                <input type="checkbox" id="value2" name="value2">
                <label for="value2">R$ 100 até R$ 150</label>
            </div>

            <div class="check-container">
                <input type="checkbox" id="value3" name="value3">
                <label for="value3">R$ 150 até R$ 200</label>
            </div>

            <div class="check-container">
                <input type="checkbox" id="value4" name="value4">
                <label for="value4">R$ 200 até R$ 300</label>
            </div>

            <div class="check-container">
                <input type="checkbox" id="value5" name="value5">
                <label for="value5">R$ 300 até R$ 500</label>
            </div>

            <div class="check-container">
                <input type="checkbox" id="value6" name="value6">
                <label for="value6">R$ 500 até R$ 1.000</label>
            </div>

            <div class="check-container">
                <input type="checkbox" id="value7" name="value7">
                <label for="value7">R$ 1.000 até R$ 2.000</label>
            </div>

            <div class="check-container">
                <input type="checkbox" id="value8" name="value8">
                <label for="value8">Mais de R$ 2.000</label>
            </div>
        </div>

    </div>

    <button class="filter-sub" type="submit" form="filter-form">Filtrar</button>
</form>