    <div class="footer-container">

    <div class="f-card">
        <h2>Look Up</h2>
        <a href="">Sobre</a>
        <a href="">Trabalhe Conosco</a>
        <a href="">Políticas de Privacidade</a>
    </div>
        
    <div class="f-card">
        <h2>Ajuda</h2>
        <a href="">Entrega</a>
        <a href="">Rastrear Pedido</a>
        <a href="">Trocas e Devoluções</a>
        <a href="">Controle de Qualidades</a>
    </div>

        <div class="f-card">
            <h2>Suporte</h2>
            <a href="">Fale Conosco</a>
            <a href="">Problema Técnico</a>
        </div>

        <div class="payments-container">
            <h2>Formas de Pagamentos</h2>
            <div  class="payments-methods">
            <div>
            <img src="/images/icons/visa.svg" alt="">
            <img src="/images/icons/mastercard.svg" alt="">
            </div>

            <div>
            <img src="/images/icons/american.svg" alt="">
            <img src="/images/icons/paypal.svg" alt="">
            <img src="/images/icons/boleto.svg" alt="">
            </div>
            </div>

        </div>

    </div>

    <div class="social-medias">
        <a href="https://www.instagram.com/" target="_blank"><img src="/images/icons/instagram.svg" alt=""></a>
        <a href="https://www.facebook.com/" target="_blank"><img src="/images/icons/facebook.svg" alt=""></a>
        <a href="https://www.youtube.com/" target="_blank"><img src="/images/icons/youtube.svg" alt=""></a>
        <a href="https://www.tiktok.com/en/" target="_blank"><img src="/images/icons/tiktok.svg" alt=""></a>
        <a href="https://twitter.com/?lang=en" target="_blank"><img src="/images/icons/twitter.svg" alt=""></a>
        <a href="https://github.com/diasvictordev/lookup-ecommerce" target="_blank"><img src="/images/icons/github.svg" alt=""></a>
    </div>

    <p>&copy; 2022 Look Up!</p>
