<nav class="nav-container">
    <div class="lookUp">
        <a href="/"><img src="/images/icons/logo.svg" alt="" /></a>
    </div>

    <div class="search">
        <form class="form" action="/buscar" method="post" id="search"><input type="text" class="searchTerm" placeholder="Busque aqui o seu produto" name="searchTerm" id="searchTerm" /></form>
        <button type="submit" class="searchButton" form="search">
            <i class="fa fa-search"></i>
        </button>
    </div>

    <div class="nav-links">
        <div class="sidebar">
            <div id="mySidepanel" class="sidepanel">
                <a href="javascript:void(0)" class="closebtn" onclick="openNav()">×</a>
                <a href="/menu/computadores">Computadores</a>
                <a href="/menu/notebooks">Notebooks</a>
                <a href="/menu/gamer">Gamer</a>
                <a href="/menu/smartphones">smartphones</a>
                <a href="/menu/perifericos">Periféricos</a>
                <a href="/menu/tablet">Tablet</a>
                <a href="/menu/tv">TV</a>
            </div>

            <button class="openbtn" onclick="openNav()">
                ☰
            </button>
        </div>

        <div class="logo">
            <a href="/"><img src="/images/icons/logo.svg" alt="" /></a>
        </div>

        <div class="logo-test">
            <div class="user-nav">
                <% if(typeof user == 'undefined') { %>
                <a href="/usuario/login" class="nav-icon-links"><img src="/images/icons/account.svg" alt="" /></a>
                <a href="/usuario/login" class="nav-text-links">Minha Conta</a>
               <% } else { %>
                <a href="/usuario/login" class="nav-icon-links"><img src="/images/icons/account.svg" alt="" /></a>
                <a href="/usuario/login" class="nav-text-links">Minha Conta</a>
                <% } %>
            </div>

            <div class="user-nav">
                <a href="#support" class="nav-icon-links"><img src="/images/icons/headset.svg" class="imagem"alt="" /></a>
                <a href="#support" class="nav-text-links">Atendimento</a>
            </div>

            <div class="user-nav car">
                <a href="/carrinho" class="nav-icon-links"><img src="/images/icons/shopping-car.svg" alt="" /></a>
                <a href="/carrinho" class="nav-text-links car-text">Carrinho</a>
            </div>

            <div class="nav-responsive-icons">
                <a href="/usuario/login" class="nav-icon-links nav-responsive"><img src="/images/icons/account.svg" alt="" /></a>
                <a href="/carrinho" class="nav-icon-links nav-responsive"><img src="/images/icons/shopping-car.svg"alt="" /></a>
            </div>
        </div>
    </div>
</nav>

<div class="header-options">
    <div class="hamburger-container">
        <div class="hamburger-menu category" class="menu-svg">
            <img src="/images/icons/menu.svg" alt="" />
            <button class="menubtn header-titles">Menu</button>
        </div>

        <div class="hamburger-links">
            <a href="/menu/smartphones">Smartphones</a>
            <a href="/menu/perifericos">Periféricos</a>
            <a href="/menu/tablet">Tablet</a>
            <a href="/menu/tv">TV's</a>
        </div>
    </div>

    <div class="category">
        <a href="/menu/todos-produtos" class="category-link"><img src="/images/icons/trophy.svg" alt="" /></a>
        <a href="/menu/todos-produtos" class="header-titles">Todos os Produtos</a>
    </div>

    <div class="category">
        <a href="" class="category-link"><img src="/images/icons/desktop.svg" alt="" /></a>
        <a href="" class="header-titles">Computadores</a>
    </div>

    <div class="category">
        <a href="/menu/notebooks" class="category-link"><img src="/images/icons/laptop.svg" alt="" /></a>
        <a href="/menu/notebooks" class="header-titles">Notebooks</a>
    </div>

    <div class="category">
        <a href="/menu/gamer" class="category-link"><img src="/images/icons/gamer.svg" alt="" /></a>
        <a href="/menu/gamer" class="header-titles">Gamer</a>
    </div>
</div>

    </div>