    <nav class="nav-container">
        <div class="search">
            <input type="text" class="searchTerm" placeholder="Busque aqui o seu produto...">
            <button type="submit" class="searchButton">
              <i class="fa fa-search"></i>
           </button>
         </div>

        <div class="nav-links">

            <div class="user-nav">
                <a href="/usuario/login" class="nav-icon-links"><img src="/images/icons/account.svg" alt=""></a>
                <a href="/usuario/login" class="nav-text-links">Minha Conta</a>
            </div>

            <div class="user-nav">
                <a href="" class="nav-icon-links"><img src="/images/icons/headset.svg" class="imagem" alt=""></a>
                <a href="" class="nav-text-links">Atendimento</a>
            </div>

            <div class="user-nav">
                <a href="/carrinho" class="nav-icon-links"><img src="/images/icons/shopping-car.svg" alt=""></a>
                <a href="/carrinho" class="nav-text-links">Carrinho</a>
            </div>

        </div>
    </nav>

    <div class="header-options">

        <div class="hamburger-container">

            <div class="hamburger-menu category" class="menu-svg">
                <img src="/images/icons/menu.svg" alt="">
                <a href='/'><button class="menubtn header-titles">Menu</button></a>
            </div>
            
            <div class="hamburger-links">
                <a href="#">Smartphones</a>
                <a href="#">Periféricos</a>
                <a href="#">Áudio</a>
                <a href="#">Cadeiras</a>
                <a href="#">Hardware</a>
                <a href="#">Tablet</a>
                <a href="#">TV's</a>
             </div>

        </div>

        <div class="category">
            <a href="" class="category-link"><img src="/images/icons/trophy.svg" alt=""></a>
            <a href="" class="header-titles">Mais Vendidos</a>
        </div>

        <div class="category">
            <a href="" class="category-link"><img src="/images/icons/desktop.svg" alt=""></a>
            <a href="" class="header-titles">Computadores</a>
        </div>

        <div class="category">
            <a href="" class="category-link"><img src="/images/icons/laptop.svg" alt=""></a>
            <a href="" class="header-titles">Notebooks</a>
        </div>

        <div class="category">
            <a href="" class="category-link"><img src="/images/icons/gamer.svg" alt=""></a>
            <a href="" class="header-titles">Gamer</a>
        </div>

    </div>
