<h2>Atendimento</h2>

<div id="support" class="support-flex">

    <div class="support-hours">
        <p>Segunda 치 Sextas das 8:00 치s 19:00</p>
        <p>S치bado das 8:00 치s 13:00</p>
    </div>

    <div class="support-card">
        <p>WhatsApp</p>

        <div class="support-icon">
            <a href="tel:123-456-7890"><img src="/images/icons/whatsapp.svg" alt=""></a>
            <a href="tel:123-456-7890">123-456-7890</a>
        </div>
    </div>

    <div class="support-card">
        <p>Email</p>

        <div class="support-icon">
            <a href="mailto: contado@lookUp@email.com"><img src="/images/icons/mail.svg" alt=""></a>
            <a href="mailto: contado@lookUp@email.com">contado@lookUp@email.com</a>
        </div>
    </div>

</div>